This Document Serves as an illustration of the data transformer and selector pipeline.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.feature_selection import f_classif
from sklearn.pipeline import Pipeline
from sklearn.base import clone
import importlib
import sys 
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sys.path.append("../")

from proj_mod import visualization, data_processing
importlib.reload(visualization);
importlib.reload(data_processing);

In [2]:
df=pd.read_csv("../data/raw.csv")
df["y"]=df["y"].map({"no": 0, "yes": 1})
features=df.columns[:-1]
df_feat=df[features]
df_tar=df[["y"]]

X_tr, X_te, y_tr, y_te=train_test_split(df_feat,df_tar, test_size=0.2)

In [20]:
data_pipe=Pipeline([
    ("trans", data_processing.data_transform()), 
    ("selec", data_processing.data_selector(cut=0.8, how="mi score", mi_n_jobs=4))
])

In [11]:
data_pipe.fit(X=X_tr,y=y_tr)
out=data_pipe.transform(X=X_te)
out

,duration,duration_tar,day_of_year_tar,day_of_year,month_num_tar,contact_tar,balance_tar,day_tar,month_num_4,balance,...,job_retired,job_entrepreneur,default_yes,month_num_7,month_num_12,contact_telephone,loan_yes,job_unknown,month_num_11,month_num_8
0,5.384495,3.375699,7.399674,160,5.965401,3.823472,7.544888,6.733037,0.0,8.964708,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5.313206,2.473167,10.598606,149,9.316682,3.823472,6.423351,6.932397,0.0,5.525851,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.369448,0.670855,5.225996,134,9.316682,9.045352,6.135942,8.129164,0.0,5.333202,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5.549076,3.867822,4.659749,188,5.913700,7.482630,5.095829,5.994113,0.0,0.095310,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
4,6.030685,8.996270,13.114076,125,9.316682,9.045352,8.181804,7.487804,0.0,7.077582,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,4.317488,0.532316,6.557563,212,5.913700,9.045352,9.933276,10.194356,0.0,7.136563,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7996,5.918894,7.199040,6.602533,204,5.913700,9.045352,7.143420,8.684090,0.0,6.176075,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
7997,5.886104,6.078937,10.269905,147,9.316682,3.823472,6.285291,6.472636,0.0,5.541656,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7998,4.510860,1.028850,6.547702,30,7.334964,9.045352,5.648901,8.890656,0.0,-4.096010,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7999,4.718499,1.618793,6.461685,226,16.863666,9.045352,7.814706,8.129164,0.0,5.727173,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [3]:
data_pipe=Pipeline([
    ("trans", data_processing.data_transform(per1=True, per2=True, cam1=False, cam2=False)), 
    ("selec", data_processing.data_selector(cut=0.8, how="mi score", mi_n_jobs=4))
])

In [4]:
data_pipe.fit(X=X_tr,y=y_tr)
out=data_pipe.transform(X=X_te)
out

,age_tar,age,marital_married,balance_tar,balance,housing_yes,marital_single,education_tar,job_tar,job_retired,...,job_self-employed,job_unknown,job_unemployed,job_services,job_blue-collar,loan_yes,job_housemaid,job_entrepreneur,job_management,default_yes
0,6.182689,47,1.0,6.926435,5.707442,1.0,0.0,5.782313,5.592543,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,6.827607,35,1.0,10.042737,7.414633,1.0,0.0,6.804540,6.140070,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5.464425,54,1.0,5.685826,-5.100476,0.0,0.0,6.804540,6.140070,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,5.464425,54,0.0,7.110529,6.246301,1.0,1.0,6.804540,10.968295,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7.430827,33,0.0,5.601617,4.112512,0.0,0.0,6.804540,5.592543,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,11.926339,26,0.0,8.620526,6.893758,1.0,1.0,6.804540,8.164983,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7996,6.807935,37,1.0,7.149441,5.943062,1.0,0.0,5.782313,5.592543,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
7997,11.926339,26,1.0,6.757387,4.763028,0.0,0.0,6.804540,6.140070,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7998,7.430827,33,1.0,9.375819,8.075614,0.0,0.0,8.960894,16.587678,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7999,6.403310,41,1.0,6.832808,5.820380,1.0,0.0,5.782313,5.592543,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [26]:
SKF=StratifiedKFold(n_splits=5, shuffle=True, random_state=420)
splits=list(SKF.split(X=df_feat, y=df_tar))
df_list=[]
for tr_id, te_id in splits: 
    X_tr, X_te=df_feat.iloc[tr_id], df_feat.iloc[te_id]
    y_tr, y_te=df_tar.iloc[tr_id], df_tar.iloc[te_id]
    
    pipe=Pipeline([
        ("trans", data_processing.data_transform()), 
        ("selec", data_processing.data_selector(how="mi score", mi_n_jobs=4, cut=0.98))
    ])
    
    in_splits=list(SKF.split(X=X_tr, y=y_tr))
    for in_tr, in_te in in_splits: 
        in_pipe=clone(pipe)
        X_tr_tr,X_tr_te=X_tr.iloc[in_tr], X_tr.iloc[in_te]
        y_tr_tr,y_tr_te=np.ravel(y_tr.iloc[in_tr].values), np.ravel(y_tr.iloc[in_te].values)
    
        in_pipe.fit(X=X_tr,y=y_tr)
        
        out=in_pipe.transform(X=X_te)
        
        df_list.append(out)

In [27]:
for index in range(len(df_list)): 
    print(index,":",df_list[index].columns[df_list[index].isnull().any()])

0 : Index([], dtype='object')
1 : Index([], dtype='object')
2 : Index([], dtype='object')
3 : Index([], dtype='object')
4 : Index([], dtype='object')
5 : Index([], dtype='object')
6 : Index([], dtype='object')
7 : Index([], dtype='object')
8 : Index([], dtype='object')
9 : Index([], dtype='object')
10 : Index([], dtype='object')
11 : Index([], dtype='object')
12 : Index([], dtype='object')
13 : Index([], dtype='object')
14 : Index([], dtype='object')
15 : Index([], dtype='object')
16 : Index([], dtype='object')
17 : Index([], dtype='object')
18 : Index([], dtype='object')
19 : Index([], dtype='object')
20 : Index([], dtype='object')
21 : Index([], dtype='object')
22 : Index([], dtype='object')
23 : Index([], dtype='object')
24 : Index([], dtype='object')

In [15]:
data_pipe_per=Pipeline([
    ("trans", data_processing.data_transform(cam1=False, cam2=False)), 
    ("selec", data_processing.data_selector(cut=0.98, how="mi score", mi_n_jobs=4))
])
data_pipe_per.fit(X=X_tr,y=y_tr)
out=data_pipe_per.transform(X=X_te)
out

,age_tar,housing_yes,marital_tar,age,balance,marital_married,job_technician,job_tar,marital_single,balance_tar,...,job_retired,job_self-employed,education_tar,job_services,job_management,loan_yes,job_housemaid,job_unknown,job_entrepreneur,job_student
0,41.841968,0.0,6.082501,66,0.095310,1.0,1.0,7.205240,0.0,5.125750,...,0.0,0.0,6.794156,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5.940730,1.0,6.082501,48,0.095310,1.0,0.0,8.517784,0.0,5.125750,...,0.0,0.0,6.446414,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,6.051739,1.0,6.082501,45,3.666122,1.0,0.0,6.335562,0.0,5.416179,...,0.0,0.0,6.794156,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6.274035,1.0,6.082501,42,5.929855,1.0,0.0,5.645702,0.0,7.255227,...,0.0,0.0,6.794156,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5.874418,1.0,8.139535,50,6.605433,0.0,0.0,8.517784,0.0,7.194194,...,0.0,0.0,9.278351,0.0,1.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,7.054996,0.0,6.082501,36,5.631570,1.0,1.0,7.205240,0.0,8.101247,...,0.0,0.0,6.794156,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7996,6.392952,1.0,6.082501,41,-4.701389,1.0,0.0,6.335562,0.0,3.305892,...,0.0,0.0,6.794156,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7997,9.740522,1.0,6.082501,29,8.362199,1.0,0.0,5.645702,0.0,8.043020,...,0.0,0.0,5.643386,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7998,6.901771,0.0,6.082501,38,8.552193,1.0,0.0,8.977273,0.0,7.478247,...,0.0,0.0,6.794156,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7999,5.940730,1.0,6.082501,48,7.557003,1.0,0.0,5.645702,0.0,6.443545,...,0.0,0.0,6.794156,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
out.columns

Index(['age_tar', 'housing_yes', 'marital_tar', 'age', 'balance',
       'marital_married', 'job_technician', 'job_tar', 'marital_single',
       'balance_tar', 'job_unemployed', 'job_blue-collar', 'education',
       'default_yes', 'job_retired', 'job_self-employed', 'education_tar',
       'job_services', 'job_management', 'loan_yes', 'job_housemaid',
       'job_unknown', 'job_entrepreneur', 'job_student'],
      dtype='object')