# Post transform EDA: Select

We will perform further EDA after the transform layer.

In [1]:
import pandas as pd
from sklearn.feature_selection import f_classif, mutual_info_classif
import importlib
import sys 
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sys.path.append("../")

from proj_mod import visualization, data_processing
importlib.reload(visualization);
importlib.reload(data_processing);

seed=420

In [2]:
df=pd.read_csv("../data/raw.csv")
df["y"]=df["y"].map({"no": 0, "yes": 1})
features=df.columns[:-1]
df_feat=df[features]
df_tar=df[["y"]]

data_transform_layer=data_processing.data_transform()
data_transform_layer.fit(X=df_feat,y=df_tar)
df_feat_transformed=data_transform_layer.transform(X=df_feat)
df_feat_transformed

,age,balance,education,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,...,month_num_8,month_num_10,month_num_11,month_num_12,contact_tar,day_tar,month_num_tar,day_of_year_tar,duration_tar,campaign_tar
0,58,7.670475,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.893459,7.319346,9.248389,13.196373,3.994450,6.853275
1,44,3.404525,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.893459,7.319346,9.248389,13.196373,2.667762,6.853275
2,33,1.131402,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.893459,7.319346,9.248389,13.196373,0.718313,6.853275
3,47,7.317943,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.893459,7.319346,9.248389,13.196373,1.120063,6.853275
4,33,0.741937,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.893459,7.319346,9.248389,13.196373,2.729112,6.853275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,53,5.981667,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.962832,10.906423,6.017752,7.475876,1.559663,6.853275
39996,30,8.114055,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.962832,10.906423,6.017752,7.475876,3.827409,6.853275
39997,54,5.303802,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.962832,10.906423,6.017752,7.475876,2.723738,6.853275
39998,34,6.954734,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.962832,10.906423,6.017752,7.475876,5.335033,6.853275
39999,38,7.274549,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.962832,10.906423,6.017752,7.475876,1.632355,6.853275

In [3]:
df_transformed=pd.concat([df_feat_transformed, df_tar], axis=1)
df_transformed

,age,balance,education,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,...,month_num_10,month_num_11,month_num_12,contact_tar,day_tar,month_num_tar,day_of_year_tar,duration_tar,campaign_tar,y
0,58,7.670475,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.893459,7.319346,9.248389,13.196373,3.994450,6.853275,0
1,44,3.404525,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.893459,7.319346,9.248389,13.196373,2.667762,6.853275,0
2,33,1.131402,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.893459,7.319346,9.248389,13.196373,0.718313,6.853275,0
3,47,7.317943,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.893459,7.319346,9.248389,13.196373,1.120063,6.853275,0
4,33,0.741937,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.893459,7.319346,9.248389,13.196373,2.729112,6.853275,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,53,5.981667,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,8.962832,10.906423,6.017752,7.475876,1.559663,6.853275,0
39996,30,8.114055,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,8.962832,10.906423,6.017752,7.475876,3.827409,6.853275,1
39997,54,5.303802,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,8.962832,10.906423,6.017752,7.475876,2.723738,6.853275,1
39998,34,6.954734,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,8.962832,10.906423,6.017752,7.475876,5.335033,6.853275,0
39999,38,7.274549,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,8.962832,10.906423,6.017752,7.475876,1.632355,6.853275,0

Try simple correaltion

In [4]:
df_corr=df_transformed.corr()
df_corr

,age,balance,education,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,...,month_num_10,month_num_11,month_num_12,contact_tar,day_tar,month_num_tar,day_of_year_tar,duration_tar,campaign_tar,y
age,1.000000,0.060738,-0.179883,-0.028956,0.027956,0.084920,-0.005302,0.333164,0.001712,-0.057227,...,0.002637,0.038068,-0.005046,-0.032479,-0.001658,0.030772,-0.024627,-0.030195,-0.009955,-0.020273
balance,0.060738,1.000000,0.036159,-0.031511,-0.002741,0.013748,0.047903,0.015753,0.020132,-0.038461,...,0.015664,0.093196,0.001120,0.027526,-0.001941,0.131990,0.089070,0.022528,0.022810,0.046676
education,-0.179883,0.036159,1.000000,-0.425051,0.045183,-0.146695,0.416829,-0.096568,0.071800,-0.030988,...,0.012540,0.061699,0.009914,0.136999,0.010564,0.119704,0.057785,0.006926,-0.004501,0.043219
job_blue-collar,-0.028956,-0.031511,-0.425051,1.000000,-0.105624,-0.092525,-0.280381,-0.106864,-0.105974,-0.182215,...,-0.008935,-0.054234,-0.003435,-0.119671,-0.013249,-0.097462,-0.037249,0.011695,0.003488,-0.032859
job_entrepreneur,0.027956,-0.002741,0.045183,-0.105624,1.000000,-0.031889,-0.096634,-0.036831,-0.036524,-0.062801,...,0.006657,0.052979,-0.003440,0.003586,-0.013486,-0.004373,-0.004027,0.000255,0.002025,-0.007191
job_housemaid,0.084920,0.013748,-0.146695,-0.092525,-0.031889,1.000000,-0.084650,-0.032263,-0.031995,-0.055013,...,-0.004040,-0.014389,-0.003014,-0.003161,-0.008093,-0.026802,-0.037842,-0.002647,0.001530,-0.015248
job_management,-0.005302,0.047903,0.416829,-0.280381,-0.096634,-0.084650,1.000000,-0.097769,-0.096955,-0.166707,...,0.006480,0.059065,0.008073,0.095772,-0.004069,0.102415,0.027127,-0.004079,-0.016907,0.020291
job_retired,0.333164,0.015753,-0.096568,-0.106864,-0.036831,-0.032263,-0.097769,1.000000,-0.036953,-0.063539,...,0.003386,-0.026414,0.003972,-0.016125,0.012540,-0.003858,0.019523,0.001465,0.012171,0.024343
job_self-employed,0.001712,0.020132,0.071800,-0.105974,-0.036524,-0.031995,-0.096955,-0.036953,1.000000,-0.063009,...,0.003551,0.044863,-0.003452,0.018517,-0.011114,0.025346,0.006338,0.008546,-0.003321,0.005029
job_services,-0.057227,-0.038461,-0.030988,-0.182215,-0.062801,-0.055013,-0.166707,-0.063539,-0.063009,1.000000,...,-0.010966,-0.018155,-0.001264,-0.026293,0.007771,-0.056415,-0.019517,-0.000388,0.007265,-0.014645
job_student,-0.155146,0.026970,0.017580,-0.063781,-0.021982,-0.019256,-0.058352,-0.022240,-0.022055,-0.037922,...,0.004685,-0.021620,-0.002077,0.019662,0.019329,0.013311,0.066425,-0.005180,0.003711,0.037384
job_technician,-0.058308,-0.009468,0.115148,-0.251692,-0.086747,-0.075988,-0.230271,-0.087765,-0.087034,-0.149649,...,-0.002531,-0.010051,0.002846,0.052907,-0.004473,0.061392,-0.014783,-0.009720,-0.012655,0.000234
job_unemployed,0.008052,0.014866,-0.027843,-0.093266,-0.032144,-0.028158,-0.085328,-0.032522,-0.032251,-0.055453,...,-0.007542,0.018505,-0.003038,0.016222,0.026391,0.022059,0.017313,0.017877,0.013698,0.009463
job_unknown,0.043904,0.018539,-0.050997,-0.042557,-0.014667,-0.012848,-0.038935,-0.014840,-0.014716,-0.025303,...,0.003881,-0.011592,-0.001386,-0.028327,-0.009057,-0.011248,-0.012351,-0.004774,-0.017178,-0.000018
marital_married,0.265630,0.017491,-0.154181,0.125618,0.044941,0.046431,-0.036540,0.056708,0.015806,-0.015312,...,0.000262,0.019610,-0.008318,-0.024420,-0.013974,0.011015,-0.030974,-0.029920,-0.018144,-0.056863
marital_single,-0.408589,0.014939,0.156849,-0.087522,-0.048960,-0.061803,0.032608,-0.092710,-0.004236,0.003140,...,-0.007264,-0.028556,0.004553,0.032720,0.014875,0.004778,0.043664,0.025347,0.007721,0.051721
default_yes,-0.014857,-0.226851,-0.005321,0.004706,0.025645,0.000017,-0.000951,-0.003878,0.004233,-0.003038,...,-0.006432,0.005730,-0.002591,-0.008004,0.004051,-0.029054,-0.031574,-0.007183,-0.013664,-0.006559
housing_yes,-0.179606,-0.050994,-0.046894,0.156122,0.003303,-0.086038,-0.067999,-0.112274,-0.032204,0.062391,...,-0.005784,-0.005101,-0.013622,-0.169290,-0.015828,-0.116909,0.045720,0.017125,0.043638,-0.054336
loan_yes,0.000041,-0.135038,-0.000316,0.005674,0.038244,-0.016788,-0.037817,0.017406,-0.008934,0.031939,...,0.000207,0.020236,-0.000924,0.030876,-0.001199,-0.073193,-0.046918,-0.006452,-0.002610,-0.031029
job_tar,0.028938,0.054651,0.299025,-0.537030,-0.117520,-0.249199,0.331625,0.397852,0.082190,-0.239352,...,0.012701,0.021639,0.004251,0.089028,0.027332,0.094835,0.090215,-0.005519,0.002209,0.061186
marital_tar,-0.329185,-0.007418,0.163704,-0.119655,-0.048822,-0.054263,0.037242,-0.072144,-0.012746,0.012020,...,-0.002662,-0.023754,0.007499,0.028613,0.015061,-0.006249,0.037029,0.030033,0.015606,0.058288
education_tar,-0.121493,0.061633,0.879120,-0.397766,0.070094,-0.098268,0.575676,-0.075443,0.091176,-0.127413,...,0.012402,0.068806,0.008990,0.142016,0.007334,0.135106,0.056445,0.006327,-0.014188,0.049162
age_tar,-0.134712,0.008881,0.011996,-0.042426,-0.035043,-0.006956,-0.047027,0.259313,-0.012962,-0.006521,...,-0.003737,-0.071283,0.001257,0.029722,0.027556,0.032769,0.171052,0.013884,0.013083,0.107943
balance_tar,0.072410,0.614335,0.023591,-0.021996,0.000012,-0.001359,0.037646,0.023724,0.009867,-0.033727,...,0.024557,0.100943,-0.002373,0.010261,0.004292,0.103006,0.079950,0.043590,0.018386,0.073892
day,-0.011689,-0.014666,0.037023,-0.035006,-0.003629,0.005355,0.026526,-0.002787,0.005080,-0.009461,...,0.041480,0.113071,-0.011766,0.048393,-0.082621,-0.016854,-0.017996,-0.018046,-0.151601,-0.006420
day_of_year,0.092281,0.027553,0.067994,-0.078165,0.031592,0.033942,0.089962,-0.008011,0.032550,-0.035754,...,0.080835,0.683090,0.044615,0.174998,-0.227599,0.283273,-0.122435,-0.010300,-0.083527,-0.043391
campaign,0.016204,-0.023925,0.005233,-0.004635,-0.002619,0.002804,0.021105,-0.013881,0.004581,-0.010404,...,-0.026013,-0.093154,-0.010478,0.001450,0.054675,-0.057669,-0.108919,-0.047704,-0.941430,-0.040350
duration,-0.042321,0.014507,0.006446,0.015384,0.002514,-0.012893,-0.017303,0.006245,0.007825,0.010006,...,-0.004755,-0.013132,-0.016284,0.003753,0.006500,-0.007837,0.004057,0.700122,0.225233,0.348575
contact_telephone,0.120689,0.035278,-0.062169,0.006448,-0.006114,0.037439,-0.019587,0.044599,0.002289,-0.006797,...,0.115745,0.047177,0.042985,-0.009369,0.038844,0.024553,0.075928,-0.030921,-0.057002,-0.000842
contact_unknown,0.010386,-0.033446,-0.123875,0.116781,-0.002439,-0.003592,-0.090874,0.007901,-0.018658,0.027129,...,0.000564,-0.206238,-0.003418,-0.983823,0.001112,-0.437097,-0.189012,-0.006662,0.008070,-0.088408
month_num_2,-0.006882,0.031398,0.020777,-0.040985,0.001374,-0.014142,0.001672,0.014736,0.008635,-0.009929,...,-0.011047,-0.077582,-0.004449,0.163090,0.222463,0.286826,0.223025,-0.012394,0.024682,0.036816
month_num_3,0.004259,0.028322,0.030106,-0.035760,-0.011980,-0.001942,0.024273,0.023042,-0.000203,-0.016005,...,-0.003607,-0.025331,-0.001453,0.054751,0.050748,0.154502,0.467527,-0.014712,0.007191,0.128125
month_num_4,-0.031056,0.064004,0.004372,0.023309,-0.015902,-0.017634,-0.013772,0.007663,-0.009727,0.003451,...,-0.012087,-0.084887,-0.004868,0.186312,0.002089,0.373764,0.484062,0.036624,0.066080,0.097450
month_num_5,-0.129909,-0.065232,-0.074695,0.147611,-0.017598,-0.072383,-0.085019,-0.047738,-0.034153,0.045593,...,-0.032009,-0.224796,-0.012892,-0.404137,-0.113407,-0.317621,-0.123225,0.002915,0.083840,-0.038479
month_num_6,0.085656,0.033881,-0.081404,0.022013,0.015857,0.061572,-0.040023,0.032825,0.011171,0.002672,...,-0.016402,-0.115187,-0.006606,-0.485931,0.129604,-0.366946,-0.196884,-0.015641,-0.048624,-0.014557
month_num_7,0.015661,-0.108880,-0.011621,-0.022815,0.025926,0.041836,-0.012785,0.015335,-0.000197,0.026522,...,-0.019501,-0.136955,-0.007855,0.245140,0.133059,-0.443869,-0.243267,0.023897,-0.089521,-0.020528
month_num_8,0.088125,0.017501,0.106163,-0.118678,-0.048468,0.035747,0.122926,0.019410,-0.000945,-0.072444,...,-0.017333,-0.121730,-0.006981,0.276289,-0.091564,0.345800,-0.172974,-0.032330,-0.133744,-0.025661
month_num_10,0.002637,0.015664,0.012540,-0.008935,0.006657,-0.004040,0.006480,0.003386,0.003551,-0.010966,...,1.000000,-0.014074,-0.000807,-0.021613,0.000918,0.042563,0.257242,-0.000802,0.014272,0.093298
month_num_11,0.038068,0.093196,0.061699,-0.054234,0.052979,-0.014389,0.059065,-0.026414,0.044863,-0.018155,...,-0.014074,1.000000,-0.005669,0.200696,-0.226367,0.568498,0.213504,0.001327,0.074071,-0.013654
month_num_12,-0.005046,0.001120,0.009914,-0.003435,-0.003440,-0.003014,0.008073,0.003972,-0.003452,-0.001264,...,-0.000807,-0.005669,1.000000,-0.004346,-0.001146,-0.020577,-0.007491,-0.007233,0.005749,0.000315
contact_tar,-0.032479,0.027526,0.136999,-0.119671,0.003586,-0.003161,0.095772,-0.016125,0.018517,-0.026293,...,-0.021613,0.200696,-0.004346,1.000000,-0.008190,0.439064,0.177990,0.012381,0.002173,0.089862
day_tar,-0.001658,-0.001941,0.010564,-0.013249,-0.013486,-0.008093,-0.004069,0.012540,-0.011114,0.007771,...,0.000918,-0.226367,-0.001146,-0.008190,1.000000,-0.145424,-0.088480,0.006302,-0.051224,0.054964
month_num_tar,0.030772,0.131990,0.119704,-0.097462,-0.004373,-0.026802,0.102415,-0.003858,0.025346,-0.056415,...,0.042563,0.568498,-0.020577,0.439064,-0.145424,1.000000,0.561526,-0.006575,0.054049,0.076672
day_of_year_tar,-0.024627,0.089070,0.057785,-0.037249,-0.004027,-0.037842,0.027127,0.019523,0.006338,-0.019517,...,0.257242,0.213504,-0.007491,0.177990,-0.088480,0.561526,1.000000,-0.006090,0.085166,0.197861
duration_tar,-0.030195,0.022528,0.006926,0.011695,0.000255,-0.002647,-0.004079,0.001465,0.008546,-0.000388,...,-0.000802,0.001327,-0.007233,0.012381,0.006302,-0.006575,-0.006090,1.000000,0.053757,0.498260
campaign_tar,-0.009955,0.022810,-0.004501,0.003488,0.002025,0.001530,-0.016907,0.012171,-0.003321,0.007265,...,0.014272,0.074071,0.005749,0.002173,-0.051224,0.054049,0.085166,0.053757,1.000000,0.035554
y,-0.020273,0.046676,0.043219,-0.032859,-0.007191,-0.015248,0.020291,0.024343,0.005029,-0.014645,...,0.093298,-0.013654,0.000315,0.089862,0.054964,0.076672,0.197861,0.498260,0.035554,1.000000

In [5]:
df_corr_70=df_corr[df_corr.abs()>=0.7]
df_corr_70[["y"]]

                     y
age                NaN
balance            NaN
education          NaN
job_blue-collar    NaN
job_entrepreneur   NaN
job_housemaid      NaN
job_management     NaN
job_retired        NaN
job_self-employed  NaN
job_services       NaN
job_student        NaN
job_technician     NaN
job_unemployed     NaN
job_unknown        NaN
marital_married    NaN
marital_single     NaN
default_yes        NaN
housing_yes        NaN
loan_yes           NaN
job_tar            NaN
marital_tar        NaN
education_tar      NaN
age_tar            NaN
balance_tar        NaN
day                NaN
day_of_year        NaN
campaign           NaN
duration           NaN
contact_telephone  NaN
contact_unknown    NaN
month_num_2        NaN
month_num_3        NaN
month_num_4        NaN
month_num_5        NaN
month_num_6        NaN
month_num_7        NaN
month_num_8        NaN
month_num_10       NaN
month_num_11       NaN
month_num_12       NaN
contact_tar        NaN
day_tar            NaN
month_num_tar      NaN
day_of_year_tar    NaN
duration_tar       NaN
campaign_tar       NaN
y                  1.0

In [6]:
df_feat_corr=df_feat_transformed.corr()

In [7]:
df_feat_corr[["loan_yes"]]

                   loan_yes
age                0.000041
balance           -0.135038
education         -0.000316
job_blue-collar    0.005674
job_entrepreneur   0.038244
job_housemaid     -0.016788
job_management    -0.037817
job_retired        0.017406
job_self-employed -0.008934
job_services       0.031939
job_student       -0.047512
job_technician     0.008396
job_unemployed    -0.035591
job_unknown       -0.031734
marital_married    0.032651
marital_single    -0.047122
default_yes        0.075006
housing_yes        0.004266
loan_yes           1.000000
job_tar           -0.044520
marital_tar       -0.039406
education_tar     -0.028306
age_tar           -0.017092
balance_tar       -0.087707
day                0.005838
day_of_year        0.044148
campaign           0.000582
duration           0.004946
contact_telephone -0.001727
contact_unknown   -0.030119
month_num_2       -0.010446
month_num_3       -0.022856
month_num_4       -0.033307
month_num_5       -0.050599
month_num_6       -0.027232
month_num_7        0.172955
month_num_8       -0.069545
month_num_10       0.000207
month_num_11       0.020236
month_num_12      -0.000924
contact_tar        0.030876
day_tar           -0.001199
month_num_tar     -0.073193
day_of_year_tar   -0.046918
duration_tar      -0.006452
campaign_tar      -0.002610

In [8]:
# Printing all non-trivial dangerous correlation 
bar=0.7
df_feat_corr=df_feat_transformed.corr()
df_feat_corr_cut=df_feat_corr[df_feat_corr.abs()>=bar]
for feature in df_feat_transformed.columns: 
    cur_df=df_feat_corr_cut[[feature]]
    cur_list=list(cur_df.dropna().index)
    cur_list.remove(feature)
    cur_list=np.array(cur_list)
    cur_corr=cur_df.loc[cur_list, feature].round(2).astype("str").values
    cur_print=cur_list+np.array([" with "]*len(cur_list))+cur_corr
    if len(cur_list): 
        print(f"The features have correlation above {bar} with {feature}: {cur_print}. ")

The features have correlation above 0.7 with education: ['education_tar with 0.88'].
The features have correlation above 0.7 with marital_married: ['marital_single with -0.76' 'marital_tar with -0.98'].
The features have correlation above 0.7 with marital_single: ['marital_married with -0.76' 'marital_tar with 0.89'].
The features have correlation above 0.7 with marital_tar: ['marital_married with -0.98' 'marital_single with 0.89'].
The features have correlation above 0.7 with education_tar: ['education with 0.88'].
The features have correlation above 0.7 with campaign: ['campaign_tar with -0.94'].
The features have correlation above 0.7 with duration: ['duration_tar with 0.7'].
The features have correlation above 0.7 with contact_unknown: ['contact_tar with -0.98'].
The features have correlation above 0.7 with contact_tar: ['contact_unknown with -0.98'].
The features have correlation above 0.7 with duration_tar: ['duration with 0.7'].
The features have correlation above 0.7 with campaign_tar: ['campaign with -0.94'].

F1 scores

In [9]:
scaler=StandardScaler()
f_score, p_value= f_classif(X=scaler.fit_transform(X=df_feat_transformed),y=df_tar["y"])
df_f=pd.DataFrame({
                "features": df_feat_transformed.columns, 
                "f score": f_score.round(2), 
                "p value": p_value.round(2)
            })
df_f

             features   f score  p value
0                 age     16.45     0.00
1             balance     87.33     0.00
2           education     74.85     0.00
3     job_blue-collar     43.23     0.00
4    job_entrepreneur      2.07     0.15
5       job_housemaid      9.30     0.00
6      job_management     16.47     0.00
7         job_retired     23.72     0.00
8   job_self-employed      1.01     0.31
9        job_services      8.58     0.00
10        job_student     55.98     0.00
11     job_technician      0.00     0.96
12     job_unemployed      3.58     0.06
13        job_unknown      0.00     1.00
14    marital_married    129.75     0.00
15     marital_single    107.28     0.00
16        default_yes      1.72     0.19
17        housing_yes    118.44     0.00
18           loan_yes     38.55     0.00
19            job_tar    150.31     0.00
20        marital_tar    136.35     0.00
21      education_tar     96.90     0.00
22            age_tar    471.54     0.00
23        balance_tar    219.59     0.00
24                day      1.65     0.20
25        day_of_year     75.45     0.00
26           campaign     65.23     0.00
27           duration   5532.11     0.00
28  contact_telephone      0.03     0.87
29    contact_unknown    315.09     0.00
30        month_num_2     54.29     0.00
31        month_num_3    667.57     0.00
32        month_num_4    383.48     0.00
33        month_num_5     59.31     0.00
34        month_num_6      8.48     0.00
35        month_num_7     16.86     0.00
36        month_num_8     26.36     0.00
37       month_num_10    351.22     0.00
38       month_num_11      7.46     0.01
39       month_num_12      0.00     0.95
40        contact_tar    325.62     0.00
41            day_tar    121.20     0.00
42      month_num_tar    236.52     0.00
43    day_of_year_tar   1629.68     0.00
44       duration_tar  13209.45     0.00
45       campaign_tar     50.62     0.00

In [10]:
df_f["rank"]=df_f["f score"].rank(method="dense", ascending=False).astype(int)
df_f

             features   f score  p value  rank
0                 age     16.45     0.00    33
1             balance     87.33     0.00    19
2           education     74.85     0.00    21
3     job_blue-collar     43.23     0.00    27
4    job_entrepreneur      2.07     0.15    39
5       job_housemaid      9.30     0.00    34
6      job_management     16.47     0.00    32
7         job_retired     23.72     0.00    30
8   job_self-employed      1.01     0.31    42
9        job_services      8.58     0.00    35
10        job_student     55.98     0.00    24
11     job_technician      0.00     0.96    44
12     job_unemployed      3.58     0.06    38
13        job_unknown      0.00     1.00    44
14    marital_married    129.75     0.00    14
15     marital_single    107.28     0.00    17
16        default_yes      1.72     0.19    40
17        housing_yes    118.44     0.00    16
18           loan_yes     38.55     0.00    28
19            job_tar    150.31     0.00    12
20        marital_tar    136.35     0.00    13
21      education_tar     96.90     0.00    18
22            age_tar    471.54     0.00     5
23        balance_tar    219.59     0.00    11
24                day      1.65     0.20    41
25        day_of_year     75.45     0.00    20
26           campaign     65.23     0.00    22
27           duration   5532.11     0.00     2
28  contact_telephone      0.03     0.87    43
29    contact_unknown    315.09     0.00     9
30        month_num_2     54.29     0.00    25
31        month_num_3    667.57     0.00     4
32        month_num_4    383.48     0.00     6
33        month_num_5     59.31     0.00    23
34        month_num_6      8.48     0.00    36
35        month_num_7     16.86     0.00    31
36        month_num_8     26.36     0.00    29
37       month_num_10    351.22     0.00     7
38       month_num_11      7.46     0.01    37
39       month_num_12      0.00     0.95    44
40        contact_tar    325.62     0.00     8
41            day_tar    121.20     0.00    15
42      month_num_tar    236.52     0.00    10
43    day_of_year_tar   1629.68     0.00     3
44       duration_tar  13209.45     0.00     1
45       campaign_tar     50.62     0.00    26

In [11]:
df_f_rankded=df_f.sort_values(by="rank",ascending=True).reset_index(drop=True)
df_f_rankded

             features   f score  p value  rank
0        duration_tar  13209.45     0.00     1
1            duration   5532.11     0.00     2
2     day_of_year_tar   1629.68     0.00     3
3         month_num_3    667.57     0.00     4
4             age_tar    471.54     0.00     5
5         month_num_4    383.48     0.00     6
6        month_num_10    351.22     0.00     7
7         contact_tar    325.62     0.00     8
8     contact_unknown    315.09     0.00     9
9       month_num_tar    236.52     0.00    10
10        balance_tar    219.59     0.00    11
11            job_tar    150.31     0.00    12
12        marital_tar    136.35     0.00    13
13    marital_married    129.75     0.00    14
14            day_tar    121.20     0.00    15
15        housing_yes    118.44     0.00    16
16     marital_single    107.28     0.00    17
17      education_tar     96.90     0.00    18
18            balance     87.33     0.00    19
19        day_of_year     75.45     0.00    20
20          education     74.85     0.00    21
21           campaign     65.23     0.00    22
22        month_num_5     59.31     0.00    23
23        job_student     55.98     0.00    24
24        month_num_2     54.29     0.00    25
25       campaign_tar     50.62     0.00    26
26    job_blue-collar     43.23     0.00    27
27           loan_yes     38.55     0.00    28
28        month_num_8     26.36     0.00    29
29        job_retired     23.72     0.00    30
30        month_num_7     16.86     0.00    31
31     job_management     16.47     0.00    32
32                age     16.45     0.00    33
33      job_housemaid      9.30     0.00    34
34       job_services      8.58     0.00    35
35        month_num_6      8.48     0.00    36
36       month_num_11      7.46     0.01    37
37     job_unemployed      3.58     0.06    38
38   job_entrepreneur      2.07     0.15    39
39        default_yes      1.72     0.19    40
40                day      1.65     0.20    41
41  job_self-employed      1.01     0.31    42
42  contact_telephone      0.03     0.87    43
43        job_unknown      0.00     1.00    44
44     job_technician      0.00     0.96    44
45       month_num_12      0.00     0.95    44

Mutual information

In [12]:
scaler=StandardScaler()
mi_score_arr=np.array([mutual_info_classif(X=scaler.fit_transform(X=df_feat_transformed),y=df_tar["y"], n_neighbors=10, random_state=seed*rnd, n_jobs=-1) for rnd in range(10)])
mi_score=mi_score_arr.mean(axis=0)

df_mi=pd.DataFrame({
                "features": df_feat_transformed.columns, 
                "MI": mi_score
            })
df_mi["rank"]=df_mi["MI"].rank(method="dense",ascending=False).astype(int)
df_mi

             features        MI  rank
0                 age  0.003940    12
1             balance  0.002273    16
2           education  0.001476    25
3     job_blue-collar  0.001426    26
4    job_entrepreneur  0.000434    43
5       job_housemaid  0.000456    42
6      job_management  0.001161    27
7         job_retired  0.000895    31
8   job_self-employed  0.000667    36
9        job_services  0.000430    45
10        job_student  0.000723    35
11     job_technician  0.000805    33
12     job_unemployed  0.000463    40
13        job_unknown  0.000433    44
14    marital_married  0.002308    15
15     marital_single  0.002105    18
16        default_yes  0.000541    39
17        housing_yes  0.002080    19
18           loan_yes  0.000814    32
19            job_tar  0.001602    23
20        marital_tar  0.002190    17
21      education_tar  0.001613    22
22            age_tar  0.003492    14
23        balance_tar  0.003803    13
24                day  0.004528     8
25        day_of_year  0.025866     4
26           campaign  0.001684    20
27           duration  0.077380     2
28  contact_telephone  0.000462    41
29    contact_unknown  0.005313     6
30        month_num_2  0.001055    28
31        month_num_3  0.004093    11
32        month_num_4  0.004234    10
33        month_num_5  0.001597    24
34        month_num_6  0.000580    38
35        month_num_7  0.000755    34
36        month_num_8  0.000974    30
37       month_num_10  0.001616    21
38       month_num_11  0.000632    37
39       month_num_12  0.000301    46
40        contact_tar  0.005156     7
41            day_tar  0.004399     9
42      month_num_tar  0.011476     5
43    day_of_year_tar  0.025870     3
44       duration_tar  0.078259     1
45       campaign_tar  0.001000    29

In [13]:
df_mi_ranked=df_mi.sort_values(by="rank", ascending=True).reset_index(drop=True)
df_mi_ranked

             features        MI  rank
0        duration_tar  0.078259     1
1            duration  0.077380     2
2     day_of_year_tar  0.025870     3
3         day_of_year  0.025866     4
4       month_num_tar  0.011476     5
5     contact_unknown  0.005313     6
6         contact_tar  0.005156     7
7                 day  0.004528     8
8             day_tar  0.004399     9
9         month_num_4  0.004234    10
10        month_num_3  0.004093    11
11                age  0.003940    12
12        balance_tar  0.003803    13
13            age_tar  0.003492    14
14    marital_married  0.002308    15
15            balance  0.002273    16
16        marital_tar  0.002190    17
17     marital_single  0.002105    18
18        housing_yes  0.002080    19
19           campaign  0.001684    20
20       month_num_10  0.001616    21
21      education_tar  0.001613    22
22            job_tar  0.001602    23
23        month_num_5  0.001597    24
24          education  0.001476    25
25    job_blue-collar  0.001426    26
26     job_management  0.001161    27
27        month_num_2  0.001055    28
28       campaign_tar  0.001000    29
29        month_num_8  0.000974    30
30        job_retired  0.000895    31
31           loan_yes  0.000814    32
32     job_technician  0.000805    33
33        month_num_7  0.000755    34
34        job_student  0.000723    35
35  job_self-employed  0.000667    36
36       month_num_11  0.000632    37
37        month_num_6  0.000580    38
38        default_yes  0.000541    39
39     job_unemployed  0.000463    40
40  contact_telephone  0.000462    41
41      job_housemaid  0.000456    42
42   job_entrepreneur  0.000434    43
43        job_unknown  0.000433    44
44       job_services  0.000430    45
45       month_num_12  0.000301    46

In [14]:
features_ranked=df_mi_ranked["features"].to_list()
# features_ranked

In [15]:
df_X_ordered=df_feat_transformed[features_ranked]
# df_X_ordered

bar=0.7
df_feat_corr=df_X_ordered.corr()
df_feat_corr_cut=df_feat_corr[df_feat_corr.abs()>=bar]
df_feat_corr_cut
cur_df_feat_corr=df_feat_corr_cut[["duration_tar"]]
cur_df_feat_corr
cur_feat_cut_list=list(cur_df_feat_corr.dropna().index)
cur_feat_cut_list

# cur_list=list(cur_df.dropna().index)

['duration_tar', 'duration']

In [29]:
force_remove=["balance", "day_pf_year", "duration"]
selector=data_processing.data_selector(colinearity_threshold=0.8, how="mi score", favor_target=False, force_target=False, force_remove=force_remove)
selector.fit(X=df_feat_transformed, y=df_tar)
df_test=selector.transform(X=df_feat_transformed)
df_test

,duration_tar,day_of_year,day_of_year_tar,month_num_tar,age,contact_tar,day_tar,month_num_3,month_num_4,day,...,job_student,month_num_6,job_technician,job_unemployed,month_num_12,contact_telephone,job_retired,job_self-employed,default_yes,month_num_11
0,3.994450,125,13.196373,9.248389,58,3.893459,7.319346,0.0,0.0,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.667762,125,13.196373,9.248389,44,3.893459,7.319346,0.0,0.0,5,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.718313,125,13.196373,9.248389,33,3.893459,7.319346,0.0,0.0,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.120063,125,13.196373,9.248389,47,3.893459,7.319346,0.0,0.0,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.729112,125,13.196373,9.248389,33,3.893459,7.319346,0.0,0.0,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,1.559663,154,7.475876,6.017752,53,8.962832,10.906423,0.0,0.0,3,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39996,3.827409,154,7.475876,6.017752,30,8.962832,10.906423,0.0,0.0,3,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39997,2.723738,154,7.475876,6.017752,54,8.962832,10.906423,0.0,0.0,3,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39998,5.335033,154,7.475876,6.017752,34,8.962832,10.906423,0.0,0.0,3,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39999,1.632355,154,7.475876,6.017752,38,8.962832,10.906423,0.0,0.0,3,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
df_test.columns

Index(['duration_tar', 'day_of_year', 'day_of_year_tar', 'month_num_tar',
       'age', 'contact_tar', 'day_tar', 'month_num_3', 'month_num_4', 'day',
       'balance_tar', 'age_tar', 'education_tar', 'month_num_10', 'campaign',
       'housing_yes', 'marital_single', 'month_num_2', 'job_management',
       'loan_yes', 'job_tar', 'month_num_5', 'job_unknown', 'marital_married',
       'month_num_8', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'month_num_7', 'job_services', 'job_student', 'month_num_6',
       'job_technician', 'job_unemployed', 'month_num_12', 'contact_telephone',
       'job_retired', 'job_self-employed', 'default_yes', 'month_num_11'],
      dtype='object')

In [31]:
# force_remove=["balance", "day_pf_year", "duration"]
selector=data_processing.data_selector(colinearity_threshold=0.8, how="mi score", favor_target=False, force_target=False)
selector.fit(X=df_feat_transformed, y=df_tar)
df_test=selector.transform(X=df_feat_transformed)
df_test

,duration_tar,duration,day_of_year,day_of_year_tar,month_num_tar,age,contact_tar,day_tar,month_num_3,month_num_4,...,job_student,month_num_6,job_technician,job_unemployed,month_num_12,contact_telephone,job_retired,job_self-employed,default_yes,month_num_11
0,3.994450,5.568345,125,13.196373,9.248389,58,3.893459,7.319346,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.667762,5.023881,125,13.196373,9.248389,44,3.893459,7.319346,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.718313,4.343805,125,13.196373,9.248389,33,3.893459,7.319346,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.120063,4.532599,125,13.196373,9.248389,47,3.893459,7.319346,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.729112,5.293305,125,13.196373,9.248389,33,3.893459,7.319346,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,1.559663,4.682131,154,7.475876,6.017752,53,8.962832,10.906423,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39996,3.827409,5.476464,154,7.475876,6.017752,30,8.962832,10.906423,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39997,2.723738,5.141664,154,7.475876,6.017752,54,8.962832,10.906423,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39998,5.335033,5.837730,154,7.475876,6.017752,34,8.962832,10.906423,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39999,1.632355,4.736198,154,7.475876,6.017752,38,8.962832,10.906423,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
df_test.columns

Index(['duration_tar', 'duration', 'day_of_year', 'day_of_year_tar',
       'month_num_tar', 'age', 'contact_tar', 'day_tar', 'month_num_3',
       'month_num_4', 'day', 'balance_tar', 'age_tar', 'balance',
       'education_tar', 'month_num_10', 'campaign', 'housing_yes',
       'marital_single', 'month_num_2', 'job_management', 'loan_yes',
       'job_tar', 'month_num_5', 'job_unknown', 'marital_married',
       'month_num_8', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'month_num_7', 'job_services', 'job_student', 'month_num_6',
       'job_technician', 'job_unemployed', 'month_num_12', 'contact_telephone',
       'job_retired', 'job_self-employed', 'default_yes', 'month_num_11'],
      dtype='object')

In [33]:
# force_remove=["balance", "day_pf_year", "duration"]
selector=data_processing.data_selector(colinearity_threshold=0.8, how="mi score", favor_target=False, force_target=True)
selector.fit(X=df_feat_transformed, y=df_tar)
df_test=selector.transform(X=df_feat_transformed)
df_test

,marital_tar,month_num_7,month_num_3,job_housemaid,campaign_tar,balance_tar,day,duration_tar,day_of_year_tar,contact_telephone,...,month_num_8,contact_tar,month_num_6,education_tar,marital_single,duration,job_unknown,job_entrepreneur,job_self-employed,housing_yes
0,6.060855,0.0,0.0,0.0,6.853275,9.597768,5,3.994450,13.196373,0.0,...,0.0,3.893459,0.0,9.182581,0.0,5.568345,0.0,0.0,0.0,1.0
1,9.431536,0.0,0.0,0.0,6.853275,5.423260,5,2.667762,13.196373,0.0,...,0.0,3.893459,0.0,6.754632,1.0,5.023881,0.0,0.0,0.0,1.0
2,6.060855,0.0,0.0,0.0,6.853275,5.575723,5,0.718313,13.196373,0.0,...,0.0,3.893459,0.0,6.754632,0.0,4.343805,0.0,1.0,0.0,1.0
3,6.060855,0.0,0.0,0.0,6.853275,7.965275,5,1.120063,13.196373,0.0,...,0.0,3.893459,0.0,6.270411,0.0,4.532599,0.0,0.0,0.0,1.0
4,9.431536,0.0,0.0,0.0,6.853275,5.683893,5,2.729112,13.196373,0.0,...,0.0,3.893459,0.0,6.270411,1.0,5.293305,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,6.060855,0.0,0.0,0.0,6.853275,6.878299,3,1.559663,7.475876,0.0,...,0.0,8.962832,1.0,9.182581,0.0,4.682131,0.0,0.0,0.0,0.0
39996,9.431536,0.0,0.0,0.0,6.853275,13.699589,3,3.827409,7.475876,0.0,...,0.0,8.962832,1.0,9.182581,1.0,5.476464,0.0,0.0,0.0,0.0
39997,8.275132,0.0,0.0,0.0,6.853275,6.261347,3,2.723738,7.475876,0.0,...,0.0,8.962832,1.0,6.754632,0.0,5.141664,0.0,0.0,0.0,0.0
39998,6.060855,0.0,0.0,0.0,6.853275,7.757697,3,5.335033,7.475876,0.0,...,0.0,8.962832,1.0,9.182581,0.0,5.837730,0.0,0.0,0.0,0.0
39999,6.060855,0.0,0.0,0.0,6.853275,8.125783,3,1.632355,7.475876,0.0,...,0.0,8.962832,1.0,6.754632,0.0,4.736198,0.0,0.0,0.0,1.0

In [34]:
df_test.columns

Index(['marital_tar', 'month_num_7', 'month_num_3', 'job_housemaid',
       'campaign_tar', 'balance_tar', 'day', 'duration_tar', 'day_of_year_tar',
       'contact_telephone', 'month_num_11', 'job_retired', 'age',
       'month_num_5', 'job_unemployed', 'age_tar', 'month_num_10',
       'job_student', 'month_num_12', 'campaign', 'balance', 'month_num_2',
       'day_of_year', 'job_blue-collar', 'month_num_tar', 'day_tar',
       'loan_yes', 'job_technician', 'default_yes', 'job_tar', 'job_services',
       'job_management', 'month_num_4', 'month_num_8', 'contact_tar',
       'month_num_6', 'education_tar', 'marital_single', 'duration',
       'job_unknown', 'job_entrepreneur', 'job_self-employed', 'housing_yes'],
      dtype='object')

In [35]:
# force_remove=["balance", "day_pf_year", "duration"]
selector=data_processing.data_selector(colinearity_threshold=0.8, how="mi score", favor_target=True, force_target=True)
selector.fit(X=df_feat_transformed, y=df_tar)
df_test=selector.transform(X=df_feat_transformed)
df_test

,marital_tar,month_num_7,month_num_3,job_housemaid,campaign_tar,balance_tar,day,duration_tar,day_of_year_tar,contact_telephone,...,month_num_4,month_num_8,contact_tar,month_num_6,education_tar,duration,job_unknown,job_entrepreneur,job_self-employed,housing_yes
0,6.060855,0.0,0.0,0.0,6.853275,9.597768,5,3.994450,13.196373,0.0,...,0.0,0.0,3.893459,0.0,9.182581,5.568345,0.0,0.0,0.0,1.0
1,9.431536,0.0,0.0,0.0,6.853275,5.423260,5,2.667762,13.196373,0.0,...,0.0,0.0,3.893459,0.0,6.754632,5.023881,0.0,0.0,0.0,1.0
2,6.060855,0.0,0.0,0.0,6.853275,5.575723,5,0.718313,13.196373,0.0,...,0.0,0.0,3.893459,0.0,6.754632,4.343805,0.0,1.0,0.0,1.0
3,6.060855,0.0,0.0,0.0,6.853275,7.965275,5,1.120063,13.196373,0.0,...,0.0,0.0,3.893459,0.0,6.270411,4.532599,0.0,0.0,0.0,1.0
4,9.431536,0.0,0.0,0.0,6.853275,5.683893,5,2.729112,13.196373,0.0,...,0.0,0.0,3.893459,0.0,6.270411,5.293305,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,6.060855,0.0,0.0,0.0,6.853275,6.878299,3,1.559663,7.475876,0.0,...,0.0,0.0,8.962832,1.0,9.182581,4.682131,0.0,0.0,0.0,0.0
39996,9.431536,0.0,0.0,0.0,6.853275,13.699589,3,3.827409,7.475876,0.0,...,0.0,0.0,8.962832,1.0,9.182581,5.476464,0.0,0.0,0.0,0.0
39997,8.275132,0.0,0.0,0.0,6.853275,6.261347,3,2.723738,7.475876,0.0,...,0.0,0.0,8.962832,1.0,6.754632,5.141664,0.0,0.0,0.0,0.0
39998,6.060855,0.0,0.0,0.0,6.853275,7.757697,3,5.335033,7.475876,0.0,...,0.0,0.0,8.962832,1.0,9.182581,5.837730,0.0,0.0,0.0,0.0
39999,6.060855,0.0,0.0,0.0,6.853275,8.125783,3,1.632355,7.475876,0.0,...,0.0,0.0,8.962832,1.0,6.754632,4.736198,0.0,0.0,0.0,1.0

In [36]:
df_test.columns

Index(['marital_tar', 'month_num_7', 'month_num_3', 'job_housemaid',
       'campaign_tar', 'balance_tar', 'day', 'duration_tar', 'day_of_year_tar',
       'contact_telephone', 'month_num_11', 'job_retired', 'age',
       'month_num_5', 'job_unemployed', 'age_tar', 'month_num_10',
       'job_student', 'month_num_12', 'campaign', 'balance', 'month_num_2',
       'day_of_year', 'job_blue-collar', 'month_num_tar', 'day_tar',
       'loan_yes', 'job_technician', 'default_yes', 'job_tar', 'job_services',
       'job_management', 'month_num_4', 'month_num_8', 'contact_tar',
       'month_num_6', 'education_tar', 'duration', 'job_unknown',
       'job_entrepreneur', 'job_self-employed', 'housing_yes'],
      dtype='object')

In [37]:
# force_remove=["balance", "day_pf_year", "duration"]
selector=data_processing.data_selector(colinearity_threshold=0.8, how="mi score", favor_target=True, force_target=False)
selector.fit(X=df_feat_transformed, y=df_tar)
df_test=selector.transform(X=df_feat_transformed)
df_test

,duration_tar,duration,day_of_year,day_of_year_tar,month_num_tar,age,contact_tar,day_tar,month_num_3,month_num_4,...,job_student,month_num_6,job_technician,job_unemployed,month_num_12,contact_telephone,job_retired,job_self-employed,default_yes,month_num_11
0,3.994450,5.568345,125,13.196373,9.248389,58,3.893459,7.319346,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.667762,5.023881,125,13.196373,9.248389,44,3.893459,7.319346,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.718313,4.343805,125,13.196373,9.248389,33,3.893459,7.319346,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.120063,4.532599,125,13.196373,9.248389,47,3.893459,7.319346,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.729112,5.293305,125,13.196373,9.248389,33,3.893459,7.319346,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,1.559663,4.682131,154,7.475876,6.017752,53,8.962832,10.906423,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39996,3.827409,5.476464,154,7.475876,6.017752,30,8.962832,10.906423,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39997,2.723738,5.141664,154,7.475876,6.017752,54,8.962832,10.906423,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39998,5.335033,5.837730,154,7.475876,6.017752,34,8.962832,10.906423,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39999,1.632355,4.736198,154,7.475876,6.017752,38,8.962832,10.906423,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
df_test.columns

Index(['duration_tar', 'duration', 'day_of_year', 'day_of_year_tar',
       'month_num_tar', 'age', 'contact_tar', 'day_tar', 'month_num_3',
       'month_num_4', 'day', 'balance_tar', 'age_tar', 'balance',
       'education_tar', 'month_num_10', 'campaign', 'housing_yes',
       'marital_tar', 'month_num_2', 'job_management', 'loan_yes', 'job_tar',
       'month_num_5', 'job_unknown', 'month_num_8', 'job_blue-collar',
       'job_entrepreneur', 'job_housemaid', 'month_num_7', 'job_services',
       'job_student', 'month_num_6', 'job_technician', 'job_unemployed',
       'month_num_12', 'contact_telephone', 'job_retired', 'job_self-employed',
       'default_yes', 'month_num_11'],
      dtype='object')